<div class="container1">
  <div class="colorStyle">
    <h2>We are <span>Summer Vibes</span></h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt
      repellendus eligendi quasi, placeat possimus quas perspiciatis aut
      laudantium assumenda porro?
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt
      repellendus eligendi quasi, placeat possimus quas perspiciatis aut
      laudantium assumenda porro?
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt
      repellendus eligendi quasi, placeat possimus quas perspiciatis aut
      laudantium assumenda porro?
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt
      repellendus eligendi quasi, placeat possimus quas perspiciatis aut
      laudantium assumenda porro?
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt
      repellendus eligendi quasi, placeat possimus quas perspiciatis aut
      laudantium assumenda porro?
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt
      repellendus eligendi quasi, placeat possimus quas perspiciatis aut
      laudantium assumenda porro?
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt
      repellendus eligendi quasi, placeat possimus quas perspiciatis aut
      laudantium assumenda porro?
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt
      repellendus eligendi quasi, placeat possimus quas perspiciatis aut
      laudantium assumenda porro?
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt
      repellendus eligendi quasi, placeat possimus quas perspiciatis aut
      laudantium assumenda porro?
    </p>
  </div>
</div>
