<h1>Summer Vibes</h1>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
  <div>
    <div class="card">
      <img src="image/mallorca.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Mallorca</h5>
        <div class="price">
          <p class="card-text">Price <span>2500</span>€</p>
          <button class="btn btn-warning">Tickets</button>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="card">
      <img src="image/maldive.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Maldive</h5>
        <div class="price">
          <p class="card-text">Price <span>4500</span>€</p>
          <button class="btn btn-warning">Tickets</button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="card">
      <img src="image/cancun.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Cancun</h5>
        <div class="price">
          <p class="card-text">Price <span>4000</span>€</p>
          <button class="btn btn-warning">Tickets</button>
        </div>
      </div>
    </div>
  </div>
</div>
